.users-new-header
  %h2.new-user-message
    サインインしましょう！
  .users-new-container
    = form_for(:session, url: sessions_path) do |f|
      = f.email_field :email, class: "new-user-box", id: "session-email", placeholder: "メールアドレスを入力してください"
      = f.password_field :password, class: "new-user-box", id: "session-password", placeholder: "パスワードを入力してください"
      = f.submit 'サインイン', class: "new-user-btn"
  = link_to new_user_path, class:"sign-in-up-link" do
    アカウントをお持ちでない方はこちら